<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cyber Attacks</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <style type="text/css">
    .gist {width:1080px !important;}
    .gist-file
    .gist-data {max-height: 1920px;max-width: 1080px;}
  </style>

  <body>
    <div class="container-fluid">
      <h1 class="text-center alert alert-success">Cyber Attack Database</h1>
      <div class="row">
        <div class="col-sm-2"></div>

        <!-- content goes here -->
        <div class="col-sm-8">
          <h2>
            Cyber Attacks<button
              class="btn btn-primary float-right"
              data-toggle="modal"
              data-target="#predictModal"
            >
              Predict Attack</button
            ><button
              class="btn btn-primary float-right"
              data-toggle="modal"
              data-target="#myModal"
            >
              Add Attack
            </button>
          </h2>
          

          <script src="https://gist.github.com/BarkaBoss/c6e285c8f4a8a00473184bb42af9eb22.js"></script>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="../static/js/jquery-3.2.1.min.js"
    ></script>
  </body>
</html>
