<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cyber Attacks</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="
    https://cdn.datatables.net/buttons/2.3.5/css/buttons.dataTables.min.css">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/css/jquery.dataTables.css">
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="text-center alert alert-success">Cyber Attack Database</h1>
        <div class="row">
            <div class="col-sm-2"></div>

            <!-- content goes here -->
            <div class="col-sm-8">
          <h2 >Cyber Attacks
            <a class="btn btn-primary" href="{{ url_for('graphs') }}">U.S Healthcare attacks</a>
            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#predictModal">Predict Attack</button>
            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#predictPhishModal">Predict SE Attack</button>
            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">Add Attack</button>
          </h2>
          {%with messages = get_flashed_messages()%}
          {%if messages%}
          {% for message in messages%}
          <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}

        <!-- Enter New Cyber Attack Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
 
              <div class="modal-header">
                  <h5 class="modal-title text-primary" style="align-content: center;">Please Add New Cyber Attack</h5>    
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                

              <div class="modal-body">
                  
                  <form action="{{ url_for('insert')}}" method="POST">
                      <div class="form-group">
                        <label>Victim</label>
                        <input type="text" name="victim" class="form-control" id="exampleFormControlInput1" placeholder="Enter Victim">
                      </div>

                      <div class="form-group">
                          <label>Location</label>
                          <input type="text" name="location" class="form-control" id="exampleFormControlInput1" placeholder="Enter Location">
                      </div>

                      <div class="form-group">
                          <label>Industry</label>
                          <input name="industry" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Victim Industry">
                      </div>

                      <div class="form-group">
                        <label>Attacker Location</label>
                        <input name="attacker_location" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Attacker Location">
                      </div>

                      <div class="form-group">
                        <label>Attacker Name (Malware name)</label>
                        <input name="malware" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Attacker Name">
                      </div>

                      <div class="form-group">
                        <label>Attack Motive</label>
                        <input name="motive" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Attack Motive">
                      </div>

                      <div class="form-group">
                        <label>Type of Attack</label>
                        <input name="attack_type" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Type of Attack">
                      </div>

                      <div class="form-group">
                        <label>Sub-Type of Attack</label>
                        <input name="sub_attack_type" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Sub-Type of Attack">
                      </div>

                      <div class="form-group">
                        <label>Date of Attack</label>
                        <input name="date_of_attack" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Date of Attack">
                      </div>

                        <button type="submit" class="btn btn-primary mb-2">Save</button>
                   
                    </form>


              </div>
          </div>
      </div>
    </div>
   <!-- End of Enter New Attack Modal -->
       <!-- Predict Attack Modal -->
       <div id="predictModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
   
                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">Please enter details of attack for prediction</h5>    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
  
                <div class="modal-body">
                    
                    <form action="{{ url_for('predict')}}" method="POST">
                        
                        <label for="motive">Motive</label>
                        </br>
                          <select name="motive" id="motive">
                            <option value="-1">Protest</option>
                            <option value="1">Financial</option>
                            <option value="0">Undetermined</option>
                          </select>
                        </br>
                        <label for="actor_location">Actor Location</label>
                        </br>
                          <select name="actor_location" id="actor_location">
                            <option value="1">Russia</option>
                            <option value="-1">China</option>
                            <option value="0">Other</option>
                          </select>
                        </br>
                        <label for="actor">Actor</label>
                        </br>
                          <select name="actor" id="actor">
                            <option value="1">Rootkit, Killnet or Moses Staff</option>
                            <option value="-1">BlueNorff or Lockbit Royal</option>
                            <option value="0">Undetermined</option>
                          </select>
                        </br>
                        <label for="victim">Victim</label>
                        </br>
                          <select name="victim" id="victim">
                            <option value="1">Healthcare</option>
                            <option value="-1">Finance</option>
                            <option value="0">Other</option>
                          </select>
                        </br>
                          <button type="submit" class="btn btn-primary mb-2">Predict</button>
                     
                      </form>
  
  
                </div>
            </div>
        </div>
      </div>

      <!-- Predict Phishing Attack Modal -->
      <div id="predictPhishModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
   
                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">Please enter details for SE prediction</h5>    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
  
                <div class="modal-body">
                    
                    <form action="{{ url_for('predictPhish')}}" method="POST">
                        
                        <label for="sfh">Server Form Handler</label>
                        </br>
                          <select name="sfh" id="sfh">
                            <option value="-1">No</option>
                            <option value="1">Yes</option>
                            <option value="0">Don't Know</option>
                          </select>
                        </br>
                        <label for="popUPWindow">Are there pop windows?</label>
                        </br>
                          <select name="popUPWindow" id="popUPWindow">
                            <option value="-1">No</option>
                            <option value="1">Yes</option>
                            <option value="0">Don't Know</option>
                          </select>
                        </br>
                        <label for="SSL_final_state">Does the website have HTTPS (SSL certificate)?</label>
                        </br>
                          <select name="SSL_final_state" id="SSL_final_state">
                            <option value="-1">No</option>
                            <option value="1">Yes</option>
                            <option value="0">Don't Know</option>
                          </select>
                        </br>
                        <label for="Request_url">Are there requests from external websites?</label>
                        </br>
                          <select name="Request_url" id="Request_url">
                            <option value="-1">No</option>
                            <option value="1">Yes</option>
                            <option value="0">Don't Know</option>
                          </select>
                        </br>
                        <label for="url_of_anchor">Is there "@" in the URL?</label>
                        </br>
                          <select name="url_of_anchor" id="url_of_anchor">
                            <option value="-1">No</option>
                            <option value="1">Yes</option>
                            <option value="0">Don't Know</option>
                          </select>
                        </br>
                        <label for="web_traffic">Is there high web traffic?</label>
                        </br>
                          <select name="web_traffic" id="web_traffic">
                            <option value="-1">No</option>
                            <option value="1">Yes</option>
                            <option value="0">Don't Know</option>
                          </select>
                        </br>
                        <label for="url_length">Is the URL very long?</label>
                        </br>
                          <select name="url_length" id="url_length">
                            <option value="-1">No</option>
                            <option value="1">Yes</option>
                            <option value="0">Don't Know</option>
                          </select>
                        </br>
                        <label for="age_of_domain">Is it a new domain?</label>
                        </br>
                          <select name="age_of_domain" id="age_of_domain">
                            <option value="-1">No</option>
                            <option value="1">Yes</option>
                            <option value="0">Don't Know</option>
                          </select>
                        </br>
                        <label for="having_ip">Is the IP address in the URL?</label>
                        </br>
                          <select name="having_ip" id="having_ip">
                            <option value="-1">No</option>
                            <option value="1">Yes</option>
                            <option value="0">Don't Know</option>
                          </select>
                        </br>
                        
                        </br>
                          <button type="submit" class="btn btn-primary mb-2">Predict</button>
                     
                      </form>
  
  
                </div>
            </div>
        </div>
      </div>

   <table class="display" style="width:100%"" id="myTable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Victim</th>
        <th>Location</th>
        <th>Industry</th>
        <th>Attacker Location</th>
        <th>Tool</th>
        <th>Motive</th>
        <th>Attack Type</th>
        <th>Sub-Attack Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for row in attacks %}
      <tr>
        <td>{{row.1}}</td>
        <td>{{row.3}}</td>
        <td>{{row.2}}</td>
        <td>{{row.4}}</td>
        <td>{{row.5}}</td>
        <td>{{row.6}}</td>
        <td>{{row.7}}</td>
        <td>{{row.8}}</td>
        <td>{{row.9}}</td>

        <td>
          <!--a href="/update/{{row.0}}" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a-->
          <a href="/delete/{{row.0}}" onclick="return confirm('Are you sure you want to delete this record?')" class="btn btn-warning btn-sm">Delete</a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
    <tfoot>
      <tr>
        <th>Date</th>
        <th>Victim</th>
        <th>Location</th>
        <th>Industry</th>
        <th>Attacker Location</th>
        <th>Tool</th>
        <th>Motive</th>
        <th>Attack Type</th>
        <th>Sub-Attack Type</th>
        <th>Action</th>
      </tr>
    </tfoot>
   </table>
  </br>
  </br>
  <h2>Data insights</h2>
  <img width="800" src="../static/images/year.png">
  </br><img width="800" src="../static/images/industry.png">
  </br><img width="800" src="../static/images/motive.png">
  </br><img width="800" src="../static/images/victim_location.png">
  </br><img width="800" src="../static/images/location.png">
  </br><img width="800" src="../static/images/tools.png">

    </div>

    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.5/js/buttons.print.min.js"></script>
    <!--script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"
    ></script-->
    <!--script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready( function () {
        $('#myTable').DataTable({
          order:[[0, 'desc']],
          dom: 'Blfrtip',
          buttons: [
            'csv', 'excel', 'print'
          ],
          "lengthMenu": [[10, 50, 100, 200, - 1], [10, 50, 100, 200, "All"]],
            "pageLength": 10,
        });
      
      } );
    </script>
  </body>
</html>
